h1{
   color:white;
text-align: center;

    font-family: "Sour Gummy", sans-serif;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      text-transform: uppercase;
}
p{
    color:white;
    text-align: center;
    
}
body{
    background-color: black;
}
img{
    border: 5px solid white;
}
div{
    margin-left: 25px;
    margin-right: 25px;
}


